@import '~@opuscapita/oc-cm-common-styles/styles/colors';
@import '~@opuscapita/oc-cm-common-styles/styles/variables';

#wizard-pages {
  #wizard-footer {
    $footer-height: 80px;
    display: flex;
    flex: 0 0 $footer-height;
    width: 100%;
    min-width: 0%;
    max-width: 100%;
    height: $footer-height;
    min-height: $footer-height;
    max-height: $footer-height;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;

    #bottom-indicators {
      display: flex;
      flex-direction: row;
      height: calc(#{$footer-height} / 2);
      justify-content: center;
    }

    > .column {
      display: flex;
      flex: 1 1 0%;
      height: $footer-height;;
      min-height: $footer-height;;
      max-height: $footer-height;;
      overflow: hidden;

      &.center {
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        max-width: 350px;
        flex: 2 1 100%;
      }
      &.right {
        align-items: flex-end;
        .save-success-container {
          display: flex;
          flex: 0 0 auto;
          align-items: center;
          margin-left: $oc-space-content;
          height: calc(#{$footer-height} / 2);
          min-height: calc(#{$footer-height} / 2);
          max-height: calc(#{$footer-height} / 2);

          svg.save-success-indicator {
            width: 2rem;
            height: 2rem;
            margin-left: $oc-space-content;
            margin-right: $oc-space-content / 2;
            color: $oc-color-green;
          }
        }
      }
    }
    #bottom-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: space-around;
      height: calc(#{$footer-height} / 2);
      min-height: calc(#{$footer-height} / 2);
      max-height: calc(#{$footer-height} / 2);
      flex-wrap: wrap;
      align-self: center;
      width: 100%;
      min-width: 100%;
      max-width: 100%;

      > section {
        display: flex;
        &:nth-of-type(1) {
          justify-content: flex-start;
        }
        &:nth-of-type(2) {
          justify-content: center;
          flex: 1 1;
          > button {
            margin: 0 5px;
          }
        }
        &:nth-of-type(3) {
          justify-content: flex-end;
        }
      }
      button {
        svg {
          margin: 0;
          width: 2rem;
          height: 2rem;
        }

        .oc-icon-indicator {
          fill: white;
        }
      }
    }

    .tab-indicator {
      width: 10px;
      height: 10px;
      background: gray;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      margin: 5px;
    }

    .tab-highlight {
      background: $oc-color-primary-orange;
    }

  }
}
